<span id="intro_wrapper">
<div class="widget_close edit_widgets">x</div>
	<h2>Hello, <%= current_user.login %>!</h2>
	<span id="no_machine_yet" style="display: none">
	  <p>You have just signed up, so two things should be happening now: 
		 A new virtual machine is created for you, and a new subdomain called <%= $op.user_domain %> is configured.</p>
	  <br/>
	  
	  <p>initialization: </p>
	  <div id="init_status">
	  </div>
	  <div id="init_progress"></div>
	</span>

	<span id="deploy_test_service" style="display: none">
	  <span class="title">
	  	<p>It seems that your dev machine has been setup successfully. Would you like to <a href="#" id="install_hello_world">deploy a test service</a>?</p>
	  </span>
	  <div class="status"></div>
	  <div class="progress"></div>
	</span>
</span>

<script type="text/javascript">
$(function() {

	var progressed = false;

	var machines = $('#machines .machine');
	if (machines.length == 0) {
		$('#no_machine_yet').show();
		
		(function worker() {
		  $.ajax({
		    url: '/logging/user_init_job?command=new_user_async', 
		    success: function(data) {
		      var request = data.request;
		      if ((request === undefined) || (request == null)) {
		        //console.log("empty response from logging/user_init_job");
		      } else {
				  var response_code = request.response_code;
				  
				  $( "#init_progress" ).progressbar({
				    max: data.estimated,
				  	value: data.stats.total_count
				  });
				  
			  	  if (response_code == 'ok') {
			  	    $('#init_status').html('completed successfully.');
			  	    if (progressed) {
			  	    	location.reload();
			  	    }
			  	  } else if (response_code == 'error') {
			  	  	$('#init_status').html('error : ' + request.error_text);
			  	  } else {
					$('#init_status').html('in progress');
					$( "#init_progress" ).progressbar({
		  		  	  value: parseInt(data.stats.total_count)
				  	});
				  	var perc = (data.stats.total_count / (data.estimated / 100));
				  	$('#init_progress').attr('title', '~ ' + perc + '% completed');
				  	progressed = true;
			  	  }		
			   }     
		    },
		    complete: function() {
		      setTimeout(worker, 5000);
		    }
		  });
		})();
	} else {
		$('#deploy_test_service').show();
		
		(function worker() {
		  $.ajax({
		    url: '/logging/test_deploy_job', 
		    success: function(data) {
		      var request = data.request;
		      if ((request === undefined) || (request == null)) {
		        //console.log("empty response from logging/user_init_job");
		      } else {
				  var response_code = request.response_code;
				  
				  $( "#progress" ).progressbar({
				    max: data.estimated,
				  	value: data.stats.total_count
				  });
				  
				  $('#deploy_test_service .title').html('deploying test service...');
				  
				  var status = $('#deploy_test_service .status');
				  var progress = $('#deploy_test_service .progress');
				  
			  	  if (response_code == 'ok') {
			  	    status.html('completed successfully.');
			  	    if (progressed) {
			  	    	location.reload();
			  	    }
			  	  } else if (response_code == 'error') {
			  	  	status.html('error : ' + request.error_text);
			  	  } else {
					status.html('in progress');
					progress.progressbar({
		  		  	  value: parseInt(data.stats.total_count)
				  	});
				  	var perc = (data.stats.total_count / (data.estimated / 100));
				  	progress.attr('title', '~ ' + perc + '% completed');
				  	progressed = true;
			  	  }		
			   }     
		    },
		    complete: function() {
		      setTimeout(worker, 5000);
		    }
		  });
		})();
	}
	
	$('body').on('click', '#install_hello_world', function(e) {
	  rhcp.launch('.notice', 'deploying a test service', 
	  'command=install_canned_service&service=hello_world/hello_world&machine=<%= $op.dev_machine_name('full' => 'true') %>&domain=<%= $op.user_domain %>&user_name=<%= current_user.login %>');
	  e.preventDefault();
	});
});
</script>

